@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #F4F4F5;
  --color-foreground: #27272a;
  --color-card: #FFF;
  --color-border: #e5e7eb;
  --color-input-background: #e5e7eb;
  --color-shadow: #f3f4f6;
  --color-muted: #52525c;
}

.dark {
  --color-background: #18181b;
  --color-foreground: #F4F4F5;
  --color-card: #232326;
  --color-border: #3f3f46;
  --color-input-background: #3f3f46;
  --color-shadow: #212123;
  --color-muted: #a1a1aa;
}

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

@keyframes slide-in-right {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes toast-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.slide-in-right {
  animation: slide-in-right 0.4s ease-out;
}

.slide-in-left {
  animation: slide-in-left 0.4s ease-out;
}

.fade-in-right {
  animation: fade-in-right 0.4s ease-out;
}

.fade-in-left {
  animation: fade-in-left 0.4s ease-out;
}

.toast-progress {
  animation: toast-progress linear forwards;
}