@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }

  body {
    background-color: #faf9fa;
    @apply text-zinc-800;
    overflow-x: hidden;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

@keyframes slide-in-right {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes toast-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.slide-in-right {
  animation: slide-in-right 0.4s ease-out;
}

.slide-in-left {
  animation: slide-in-left 0.4s ease-out;
}

.fade-in-right {
  animation: fade-in-right 0.4s ease-out;
}

.fade-in-left {
  animation: fade-in-left 0.4s ease-out;
}

.toast-progress {
  animation: toast-progress linear forwards;
}